
#tl{
    text-align: center;
    color: aquamarine;
    font-size: larger;
    
    }
    
    #wl{
    text-align: center;
    color: rgb(237, 70, 14);
    font-size: larger;
    }
    p {
      
      text-align: right;
      text-indent: 50px;
    
  }
  